caption{
    text-align: center;
    /*background: rgba(2,3,100,0.64);*/
}

/*tr:nth-child(even) {background: aliceblue}
tr:nth-child(odd) {background: cornsilk}*/

td{
    padding-right: 50px;
}
tr {
    //background: rgba(2,3,100,0.79);
    padding-left: 20px;
    margin-left: 20px;
}
